  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" style="font-size: 27px; color: white;" routerLink="home">Game Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="custom-button" routerLink="games">Lista gier</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a *ngIf="!authority" class="custom-button" routerLink="/login">Zaloguj</a>
          <a *ngIf="token" class="custom-button" (click)="logout()" routerLink="home">Wyloguj</a>
       </li> 
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="submitos btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer style="text-align: center;" class="fixed-bottom navbar-light bg-dark">
    <div class="card-footer">
      © 2019 Copyright: Maksymilian Przybyło & Mateusz Prokop
      <hr width="30%">
    </div>
  </footer>