*{
    padding: 0;
    margin:0;
}

.center{
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.title{
    font-size: 22px;
    text-align: center;
}

.content{   
    text-align: center;
}

.date{
    text-align: right;
}

.author{
    text-align: left;
}